<div class="container-fluid section-{{ section.id }}-image">
    <img 
        src="{{ section.settings.image | img_url: "master" }}" 
        class="section-{{ section.id }}-image_source" 
        alt="">
</div>

<div class="container-fluid" id="section-{{ section.id }}">
    <div class="row section-{{ section.id }}-content">
        
        <div>
            <h2 class="section-{{ section.id }}-heading">{{ section.settings.heading }}</h2>
        </div>

        <div class="section-{{ section.id }}-body" >
            {{ section.settings.body }}

            {% if section.settings.button_link and section.settings.button_label %}
                <a 
                    href="{{ section.settings.button_link }}"
                    class="section-{{ section.id }}-button"
                >{{ section.settings.button_label }}</a>
            {% endif %}
        </div>
    </div>
</div>
  
<style>

#section-{{ section.id }} {
    margin-bottom: 55px;
}

.section-{{ section.id }}-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-{{ section.id }}-image_source {
    width: 100%;
    object-fit: cover;
}

.section-{{ section.id }}-content {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0 15px;
}

.section-{{ section.id }}-heading {

    width: 100%;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    line-height: 143%;
    font-size: 40px;
    /* or 57px */
    text-transform: uppercase;
    color: #000000;
}

.section-{{ section.id }}-body {

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187%;

    color: #767676;
}

.section-{{ section.id }}-button {

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;

    /* Primary/Black */
    color: #000000 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Responsive */
/* Desktop */
@media screen and (max-width: 1440px) {
    .section-{{ section.id }}-heading { font-size: 40px; }
    .section-{{ section.id }}-body { font-size: 14px }
}
/* Tablet */
@media screen and (max-width: 768px) {
    .section-{{ section.id }}-heading { font-size: 36px; }
    .section-{{ section.id }}-body { font-size: 14px }

    .section-{{ section.id }}-content { grid-template-columns: 1fr; }
}
/* Phone */
@media screen and (max-width: 375px) {
    .section-{{ section.id }}-heading { font-size: 28px; }
    .section-{{ section.id }}-body { font-size: 12px }
}

</style>
  
{% schema %}
  {
    "name": "Full width copy below",

    "settings": [

        { "type": "header", "content": "Media Content" },

        {
            "type": "image_picker",
            "id": "image",
            "label": "Full width image"
        },

        { "type": "header", "content": "Text Content" },

        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },

        {
            "type": "richtext",
            "id": "body",
            "label": "Body Copy"
        },

        { "type": "header", "content": "Button" },

        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },

        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],

    "presets": [
      {
        "name": "Full width with copy below",
        "category": "Image"
      }
    ]
  }
  {% endschema %}
  